<tr>
  <td><%= costume.name %></td>
  <td><%= attachment_image_tag costume, :image, :fit, 150, nil %></td>
  <td>
    <div class="btn">
      <div class='btn-group'>
        <button type='button' class='btn btn-primary dropdown-toggle' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false'>
          Options <span class='caret'></span>
        </button>
        <ul class='dropdown-menu'>
          <li><%= link_to 'View', section_costume_path(costume.section_id, costume) %></li>
          <li><%= link_to 'Edit', edit_section_costume_path(costume.section_id, costume) %></li>
          <li role='separator'  class='divider'></li>
          <li><%= link_to 'Delete', section_costume_path(costume.section.id, costume), method: :delete, data: {confirm: 'Are you sure?'} %></li>
          <li role='separator' class='divider'></li>
          <li><%= link_to 'View Costume Variants', section_costume_costume_variants_path(costume.section_id, costume) %></li>
          <li><%= link_to 'Add New Costume Variant', section_costume_costume_variant_path(costume.section_id, costume) %></li>
        </ul>
      </div>
    </div>
  </td>
</tr>