<!DOCTYPE html>
<html>
<head>
  <title>Jus Wee & Friends Administration - <%= @pagetitle %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

  <%= stylesheet_link_tag    'application', media: 'all' %>

  <%= csrf_meta_tags %>
</head>
<body id="interface-container" class="admin-interface <%= @page_class %>">
    <%= render(partial: 'shared/top_menu') unless @disable_nav %>
    <div class="container-fluid">
      <%= yield %>
    </div>
</body>
<%= javascript_include_tag 'application' %>
</html>